@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*-------------- 1.1 headings ---------------- */
h1 {
	padding-bottom: 70px;
}
#roasts header {
	float: none;
}
h2 {
	margin-top: 0px;
	padding-top: 60px;
}
h3 {
	margin-bottom: 0px;
}
h3 + p {
	margin-top: 10px;
}
#newsletter p {
	margin: 0px;
}
/*-------------- 1.2 body copy ---------------- */
h2 + p {
	margin-bottom: 60px;
}
body {
	font-family: 'Libre Baskerville', serif;
}
h2, a, #bkgrnd-img:nth-child(2), h3, h3 + p, .col-3-5:nth-child(6) {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}
/*-------------- 1.3 buttons ---------------- */
a {
	text-decoration: none;
	color: #4B4B4B;
}
/*-------------- 1.4 forms ---------------- */
label {
	display: none;
}
#contact input {
	display: block;
}
#newsletter p, #newsletter form {
	display: inline;
}
#newsletter {
	padding: 40px;
	text-align: right;
}
/*-------------- 1.5 lists ---------------- */
/*-------------- 1.6 tables ---------------- */
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/*-------------- 2.1 main menu ---------------- */
nav ul li {
	display: inline;
	text-decoration: none;
	padding-right: 65px;
	padding-left: 60px;
}
nav {
	padding: 15px 0px;
}
/*-------------- 2.2 sub menu ---------------- */
/*-------------- 2.3 footer menu ---------------- */
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/*-------------- 3.1 - Site Structure (Site Header, Advertisement, Site Footer) ---------------- */
/*-------------- 3.2 - Section Name ---------------- */
/*-------------- 3.3 - Section Name ---------------- */
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
#about-img  {
	background-color: #808285;
	width: 500px;
	height: 450px;
}
#map {
	height: 200px;
	margin-top:100px;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
/*--------------5.1 - Background Colors ---------------- */
#bkgrnd-img {
	background-color: #939598;
	padding-top: 50px;
	margin: 0 auto;
}
.bkgrnd-grey {
	background-color: #E6E7E8;
}
.col-3-5 {
	background-color: #A7A9AC;
}
.bkgrnd-q-n {
	background-color: #BCBEC0;

}
blockquote {
	margin: 0 auto;
}
blockquote p {
	margin: 0 auto;
	padding: 70px;
}
/*-------------- 5.2 - Text Colors ---------------- */
/*-------------- 5.3 - Text Sizes ---------------- */
/*-------------- 5.4 - Alignments ---------------- */
body {
	padding: 0px 20px;
}
.txt-algn-cntr {
	text-align: center;
}
*,*:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	margin: 0 auto;
	width: 75%; 
}
.row:after {
	clear: both;
	content:"";
	display: table;
}
img{
	max-width: 100%;
}
[class*='col-'] {
	float: left;
	margin-bottom: 20px;
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0;
}
.grey {
	background-color: grey;
}
.col-1-1 {
	width: 100%;
	margin: 0px;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-4 {
	width: 25%;
	margin: 0px;
	padding: 0px;
}
.col-1-5 {
	width: 20%;
	padding: 0px;
}
.col-1-6 {
	width: 16.66%;
}
.col-1-7 {
	width: 14.2%;
}
.col-1-8 {
	width: 12.5%
}
.col-1-9 {
	width: 11.11%;
}
.col-1-10 {
	width: 10%;
}
.col-1-11 {
	width: 9.091%
}
.col-1-12 {
	width: 8.33%;
}
.col-2-3 {
	width: 66.66%
}
.col-3-4 {
	width: 75%
}
.col-3-5 {
	width: 60%;
}
.col-2-5 {
	width: 40%;
}
.col-5-6 {
	width: 83.33%;
}
.col-3-7 {
	width: 43%;
}
.col-4-7 {
	width: 57%;
}
.col-5-8 {
	width: 62.5%;
}
.col-3-8 {
	width: 37.5%;
}
.col-2-9 {
	width: 22.2%;
}
.col-7-9 {
	width: 77.8%;
}
.col-3-10 {
	width: 30%;
}
.col-7-10 {
	width: 70%;
}
.col-5-11 {
	width: 45%;
}
.col-6-11 {
	width: 55%;
}
.col-11-12 {
	width: 91.67%;
}





@media (max-width: 480px) {
	body {
		padding: 0px;
	}
}
/* This quarter only need one media querie this is android size. iphone 320
@media (max-width: 420px) { 
	.wrapper {
		width: 95%;
	}
}
*/

