@charset "UTF-8";
/* CSS Document */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
body, h1 + p, #bkgrnd-img a, h3 + p, .col-2-5 p, #disclaimer, blockquote p {
	font-family: 'Playfair Display', serif;
}
p {
	font-family: 'Oxygen', sans-serif;
}
h1 + p, #bkgrnd-img a  {
	color: #fff;
}
#bkgrnd-img a {
	letter-spacing: 1px;
	font-size: .9rem;
}
/*-------------- 1.1 headings ---------------- */

h1 {
	padding-bottom: 60px;
}
#roasts header {
	float: none;
}
h2 {
	margin-top: 0px;
	padding-top: 60px;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
}
h3 {
	margin-bottom: 0px;
}

#newsletter p, blockquote p, .col-1-1 {
	margin: 0px;
}
/*-------------- 1.2 body copy ---------------- */
h1 + p {
	font-size: 1.7rem;
	line-height: 35px;
	font-weight: 700;
	text-transform: none;
	margin-bottom: 45px;
}
h1 + p, h2, .col-2-5 p {
	letter-spacing: 2px;
}
h2 + p {
	margin-bottom: 80px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 1.2rem;
}
h2, a, #bkgrnd-img:nth-child(2), h3, h3 + p, .col-3-5:nth-child(6), .col-2-5 p {
	text-transform: uppercase;
}
h3 + p {
	margin-top: 10px;
}

.col-2-5 p {
	font-size: .9rem;
}
#disclaimer {
	font-style: italic;
}
/*-------------- 1.3 buttons ---------------- */
#bkgrnd-img a {
	padding: 12px 15px;
}
a {
	text-decoration: none;
	color: #4B4B4B;
}
#sprites li:first-child a {
	background: url(../img/sprite-fb.png) no-repeat;
}
#sprites ul li:first-child a {
	width: 50px;
	height: 50px;
}
#sprites ul li:first-child a:hover {
	background-position: 0 -50px;
}
#sprites ul li {
	display: inline-block;
}
/*-------------- 1.4 forms ---------------- */
label {
	display: none;
}
#contact input {
	display: block;
}
#newsletter h4, #newsletter form, #newsletter p, nav ul li {
	display: inline;
}
#newsletter {
	padding: 40px;
	text-align: right;
}
/*-------------- 1.5 lists ---------------- */
ul {
	list-style: none;
	padding: 0px;
}
/*-------------- 1.6 tables ---------------- */
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/*-------------- 2.1 main menu ---------------- */
nav ul li {
	padding-right: 65px;
	padding-left: 60px;
	font-size: .8rem;
}
nav {
	padding: 15px 0px;
}
/*-------------- 2.2 sub menu ---------------- */
/*-------------- 2.3 footer menu ---------------- */
footer img {
	width: 40%;
}
footer ul {
	-o-column-count: 2;
	-ms-column-count: 2;
	-webkit-column-count: 2; 
    -moz-column-count: 2; 
    column-count: 2;
}
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/*-------------- 3.1 - Site Structure (Site Header, Advertisement, Site Footer) ---------------- */
/*-------------- 3.2 - Section Name ---------------- */
/*-------------- 3.3 - Section Name ---------------- */
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
#bkgrnd-img{
	background: url(../img/hero.jpg) no-repeat 0 -120px;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 30px 0px 100px 0px;
}
#about-img  {
	background-color: #808285;
	height: 450px;
}
#map {
	height: 200px;
	margin-top:100px;
}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
/*--------------5.1 - Background Colors ---------------- */
#bkgrnd-img a, blockquote {
	background-color: #BA9F64;
}
#bkgrnd-img a:hover {
	background-color: #7B6955;
}
#newsletter {
	background-color: #1A1E25;
}
.bkgrnd-grey {
	background-color: #EFEFEF;
}
.col-3-5 {
	background-color: #1A1E25;
	color: #EFEFEF;
}

blockquote, #bkgrnd-img, .wrapper {
	margin: 0 auto;
}
blockquote p {
	padding: 60px 300px;
}
/*-------------- 5.2 - Text Colors ---------------- */
h3 + p {
	color: #BA9F64;
}
/*-------------- 5.3 - Text Sizes ---------------- */
/*-------------- 5.4 - Alignments ---------------- */
#f-right {
	float: right;
}
body {
	padding: 0px 20px;
}
.txt-algn-cntr {
	text-align: center;
}
*,*:after, *:before {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wrapper {
	width: 75%; 
}
.row:after {
	clear: both;
	content:"";
	display: table;
}
img{
	max-width: 100%;
}
[class*='col-'] {
	float: left;
	margin-bottom: 20px;
	padding-right: 20px;
}
[class*='col-']:last-of-type{
	padding-right: 0;
}
.col-1-1 {
	width: 100%;
	margin: 0px;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width: 33.33%;
}
.col-1-4 {
	width: 25%;
	margin: 0px;
	padding: 0px;
}
.col-3-5 {
	width: 60%;
}
.col-2-5 {
	width: 40%;
}






@media (max-width: 480px) {
	/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
	3.2 - Section Name
	3.3 - Section Name
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */
/*-------------- 1.1 headings ---------------- */
	h1 {
		padding-bottom: 20px;
	}
/*-------------- 1.2 body copy ---------------- */
/*-------------- 1.3 buttons ---------------- */
/*-------------- 1.4 forms ---------------- */
/*-------------- 1.5 lists ---------------- */
/*-------------- 1.6 tables ---------------- */
/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */
/*-------------- 2.1 main menu ---------------- */
	nav ul li {
		padding: 0px 20px;
		font-size: 1.2rem;
	}

/*-------------- 2.2 sub menu ---------------- */
/*-------------- 2.3 footer menu ---------------- */
/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */
/*-------------- 3.1 - Site Structure (Site Header, Advertisement, Site Footer) ---------------- */
	.wrapper {
		width: 100%;
	}
	body {
		padding: 0px;
	}
	.col-1-3 {
		width: 100%;
	}
	.col-1-2 {
		width: 100%;
	}
	.col-2-5, .col-3-5 {
		width: 50%;
		background-color: #A7A9AC;
		margin: 0px;
	}
	.col-1-1 {
		padding-right: 0px;
	}
/*-------------- 3.2 - Section Name ---------------- */
/*-------------- 3.3 - Section Name ---------------- */
/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */
	h1 img {
		max-width: 40%;
	}
	#bkgrnd-img {
		padding-top: 25px;
	}
	#about-img {
		display: none;
	}
	footer img {
		width: 100%;
	}
/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */
/*--------------5.1 - Background Colors ---------------- */
/*-------------- 5.2 - Text Colors ---------------- */
/*-------------- 5.3 - Text Sizes ---------------- */
/*-------------- 5.4 - Alignments ---------------- */


	
}
/* This quarter only need one media querie this is android size. iphone 320
@media (max-width: 420px) { 
	.wrapper {
		width: 95%;
	}
}
*/

